body {
  background-color: #FEEECE;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0px;
  border: 0px;
  text-align: center;
}
.all {
  text-align: left;
  width: 640px;
  border: 0px;
  margin-top: 15px;
  margin-left: auto;
  margin-right: auto;
}

.imageTitle {
  font-size: 20px;
  font-family: Verdana, "Helvetica CE", "Arial CE", Helvetica, Arial, sans-serif;
  color: #000000;
  font-weight: 400;
  font-decoration: none;
}


.titleOut {
  position: relative;
  width: 640px;
  height: 30px;
  border: 1px solid #800000;
  background-color: #FED09E;
  padding: 0px;
  margin-bottom: 10px;
}
.titleIn {
  position: relative;
  width: 638px;
  height: 28px;
  border: 1px solid #FED09E;
  background-color: #FED09E;
  padding: 0px;
  text-align: left;
}
.titleText {
  font-size: 12px;
  font-family: Verdana, "Helvetica CE", "Arial CE", Helvetica, Arial, sans-serif;
  color: #7C1C1E;
  font-weight: 400;
  font-decoration: none;

  background-color: #FED09E; 
}

.obrazek {
  position: relative;
  text-align: center;
  width: 640px;
}

.titleText a {
  text-decoration: none;
  color: #7C1C1E;
}
.titleText a:visited {
  text-decoration: none;
  color: #7C1C1E;
}
.titleText a:active {
  text-decoration: none;
  color: #7C1C1E;
}
.titleText a:hover {
  text-decoration: none;
  color: #F58345;
}

.popisek {
  font-size: 12px;
  font-family: Verdana, "Helvetica CE", "Arial CE", Helvetica, Arial, sans-serif;
  color: #7C1C1E;
  font-weight: 400;
  font-decoration: none;

  position: relative;
  clear: both;
  width; 600px;
  margin-top: 15px;
  border-top: 1px solid #7C1C1E;
  padding-top: 10px;
}

.paticka {
  font-size: 12px;
  font-size: 10px;
  font-family: Verdana, "Helvetica CE", "Arial CE", Helvetica, Arial, sans-serif;
  color: #7C1C1E;
  font-weight: 400;
  font-decoration: none;
  text-align: center;

  position: relative;
  clear: both;
  width; 600px;
  margin-top: 15px;
  border-top: 1px solid #7C1C1E;
  padding-top: 10px;
}


